__pycache__/

# IDE or editor related
.idea/
.vscode/
.history/

# database
*.sqlite3

# temporary email
tmp/

# for function test
mytest.py
.ipynb

# media file
web/content/media/

# environment
venv/

# jupyter
.ipynb_checkpoints/
