{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

        {% trans 'Your username is' %} <b>{{ request.user.username }}</b>.

    {% else %}

        {% trans 'You are a guest.' %}

    {% endif %}

    <div class="row">
        <div class="col">
            <img class="img-fluid" src="{{ top_10_expensive_hotels_bar_url }}" alt="">
        </div>
        <div class="col">
            <img class="img-fluid" src="{{ hotels_price_histogram_url }}" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="{{ top_10_sale_sights_bar_url }}" alt="">
        </div>
        <div class="col">
            <img class="img-fluid" src="{{ top_10_score_sights_bar_url }}" alt="">
        </div>
    </div>

{% endblock %}
