{% extends "layouts/default/page.html" %}

{% block content %}
    <img src="{{ sight.image_url }}" class="img-fluid" alt="Responsive image">
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">景点名字</th>
            <td>{{ sight.name }}</td>
        </tr>
        <tr>
            <th scope="row">景点简介</th>
            <td>{{ sight.intro }}</td>
        </tr>
        <tr>
            <th scope="row">景点评分</th>
            <td>{{ sight.score }}</td>
        </tr>
        <tr>
            <th scope="row">景点全球坐标</th>
            <td>{{ sight.point }}</td>
        </tr>
        <tr>
            <td>景点价格</td>
            <td>{{ sight.price }}</td>
        </tr>
        <tr>
            <th scope="row">景点门票销量</th>
            <td>{{ sight.sale_count }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
