<nav aria-label="...">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                   tabindex="-1" aria-disabled="true">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link"
                   tabindex="-1" aria-disabled="true">Previous</a>
            </li>
        {% endif %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page_obj.number }}<span class="sr-only">(current)</span></a>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
        {% endif %}
        <li class="page-item"><a class="page-link">共{{ page_obj.paginator.num_pages }}页</a></li>
    </ul>
</nav>